.wrapper {
  background: #cfcfcf;
  width: fit-content;
  padding: .2rem;
  margin: auto;
  font-size: .9rem;
}

.header,
.tableBody {
  display: flex;
}

.tableBody {
  flex-direction: column;
}

.header {
  height: 5.6rem;
}

.headerCell,
.bodyCell {
  padding: .8rem;
  margin: .1rem;
  margin-right: .05rem;
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: transform .2s ease-in-out;
}

.headerCell {
  min-width: 8rem;
}

.scoresSpace {
  display: flex;
  width: 100%;
}

.bodyRow {
  display: flex;
}

.bodyCell {
  justify-content: center;
}

.studentScores:hover {
  background: var(--color-clickable);
  color: var(--color-light);
  font-weight: bold;
  cursor: pointer;
}

.lesson {
  flex-grow: 1;
}

.lessonName {
  margin-right: .5rem;
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.studentName {
  min-width: 18rem;
  justify-content: start;
}
