.wrapper {
  background: #cfcfcf;
  width: fit-content;
  padding: .2rem;
  margin: auto;
}

.header,
.tableBody {
  display: flex;
}

.header {
  height: 5.6rem;
}

.headerCell,
.bodyCell {
  padding: 1rem;
  margin: .1rem;
  margin-right: .05rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.headerCell {
  min-width: 8rem;
}

.scoresSpace {
  display: flex;
  width: 100%;
}

.bodyCell {
  justify-content: center;
}

.studentScores:hover {
  background: #7671dd;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.lesson {
  flex-grow: 1;
}

.lessonName {
  margin-right: .5rem;
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.studentName {
  min-width: 16rem;
  justify-content: start;
}

.modal {
  --modal-width: 41.5rem;

  position: absolute;
  background: #0e3232;
  color: #fff;
  padding: 1.3rem;
  border-radius: .5rem;
  height: 17.5rem;
  width: var(--modal-width);
  font-family: 'Manrope', sans-serif;
  transform: translate(28px, -26px);
}

.modalTail {
  fill: #0e3232;
  position: absolute;
}

.modalTailLeft {
  transform: translate(-36px, 14px);
}

.modalTailRight {
  transform: translate(calc(var(--modal-width) + 20px), 14px) rotate(180deg);
}

.modalHeader {
  letter-spacing: .045rem;
  margin: 0;
}

.modalParagraphs {
  display: flex;
  justify-content: space-between;
  margin: .85rem 0;
}

.modalUsername,
.modalDate {
  font-weight: bold;
}

.modalLabel {
  display: flex;
  font-size: .9rem;
  letter-spacing: .045rem;
  margin-bottom: .9rem;
  cursor: pointer;
  width: fit-content;
}

.modalCheckbox {
  display: none;
}

.modalCustomCheckbox {
  margin-right: .6rem;
}

.modalInputScore {
  width: 100%;
  box-sizing: border-box;
  height: 3.6rem;
  border-radius: .5rem;
  border: 0;
  box-shadow: 0 0 .5rem #00000080;
  padding: 0 .9rem;
  font-size: 1.2rem;
  margin-bottom: .9rem;
}

.modalButtonWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.modalButton {
  width: 12.8rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  background: #7671dd;
  color: #fff;
  transition: transform .1s ease-in-out;
}

.modalButton:hover {
  background: #3934a3;
}

.modalButton:active {
  transform: translateY(.1rem);
}
